<div class="wrapper">
    <header [ngStyle]="{ 'background-color': backgroundColor }">
        <div class="logo">
            <img>
        </div>
        <div class="menu">
            <div class="menu-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/prijavnice_admin']">Čakajoči</div>
              <div class="menu-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/arhiv']">Arhiv</div>
              <div class="menu-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/termin']">Termin +</div>
              <div class="menu-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/promotor']">Promotor+</div>
            <div class="menu-item logout">Odjava</div>
        </div>
    </header>
    <main>
    <div class="form-wrapper">
        <form #promotorForm="ngForm" [ngStyle]="{ 'background-color': backgroundColor }"(ngSubmit)="dodaj(promotorForm)">
            <div class="form-group">
                <label for="firstName">Ime promotorja</label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
                
            </div>
            <div class="form-group">
                <label for="lastName">Priimek promotorja</label>
                <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
                
            </div>
            <div class="form-group">
                <label for="email">Epošta</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
                
            </div>
            <div class="form-group">
                <label for="telefon">Telefon</label>
                <input type="text" id="email" name="telefon" [(ngModel)]="telefon" required>
                
            </div>
            <div class="form-group">
                <label for="comboBox">Šola</label>
                <select id="comboBox" name="comboBox" [(ngModel)]="comboBox" required>
                    <option value="GIM">GIM</option>
                    <option value="SŠGO">SŠGO</option>
                    <option value="ŠSD">ŠSD</option>
                    <option value="ERŠ">ERŠ</option>
                </select>
                
            </div>
            <div *ngIf="isSubmitted && !promotorForm.valid" class="alert alert-danger">Prosim vnesite vse podatke! </div>
            
            <button type="submit" class="btn-submit">Dodaj</button>
        </form>
    </div>
</main>

</div>
