
<div class="button-container">
    <button class="button" id = "btn1" name = "button" (click)="buttonClicked('1')">
      
    </button>
    <button class="button" id = "btn2" name = "button"(click)="buttonClicked('2')">
      
    </button>
    <button class="button" id = "btn3"name = "button" (click)="buttonClicked('3')">
      
    </button>
    <button class="button" id = "btn4" name = "button"(click)="buttonClicked('4')">
      
    </button>
  <button class="button" id = "btn5" name = "button"(click)="buttonClicked('5')">
    
  </button>

  
  </div>
  
